# Dependencies
node_modules/

# Playwright outputs
test-results/
playwright-report/
blob-report/
allure-results/
allure-report/

# Playwright internal cache
playwright/.cache/
playwright/.auth/

# OS files
.DS_Store
Thumbs.db